{{extend 'Base_FrameWork.html'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }


        .box {
            width: 550px; /* Adjust as needed */
            height: 110px;
            flex-shrink: 0;
            border-radius: 20px;
            margin-bottom: 20px; /* Adjust spacing between boxes */
            aspect-ratio: 2/3;
            background: #D9D9D9;
            display: flex;

            padding: 25px;
        }



</style>


<div style="width: 100%; height: 100%; background: #01111E">


    <br/> <br/>
    <div style="padding-left: 20px; color: white; font-size: 24px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">Hi There! I am Access Platform for Providers (APP)</div>
    <br/>
    <div style="padding-left: 20px; width: 100%; color: white; font-size: 24px; font-family: Montserrat; font-weight: 400; word-wrap: break-word"> Welcome to our innovative solution, Project ACCESS! We've designed a user-friendly platform tailored to meet the diverse needs of providers and users alike. Here's a snapshot of what makes ACCESS your go-to solution:</div>
    <br/><br/>
    <div class="container">
        <div class="box">
            <br/><br/>
          <img src="{{=URL('static', 'images')}}/SecureAuthentication1.png" width="130" height="100">
            <div style="padding-top: 7px; width: 100%; height: 100%; color: black; font-size: 28px; font-family: Times New Roman; font-weight: 700; word-wrap: break-word">&nbsp &nbsp Secure Authentication</div>
        </div>

        <div class="box">

          <img src="{{=URL('static', 'images')}}/Efficient_User_Management.png" width="100" height="70">
            <br/><br/>
            <div style=" padding-top: 7px; width: 100%; height: 100%; color: black; font-size: 28px; font-family: Times New Roman; font-weight: 700; word-wrap: break-word">&nbsp &nbsp Efficient User Management</div>
        </div>
        <div class="box">
            <img src="{{=URL('static', 'images')}}/Master_Agreement_Insights.png" width="100" height="70">
            <br/><br/>
            <div style=" padding-top: 7px; width: 100%; height: 100%; color: black; font-size: 28px; font-family: Times New Roman; font-weight: 700; word-wrap: break-word">&nbsp &nbsp Master Agreement Insights</div>
        </div>
        <div class="box">
            <img src="{{=URL('static', 'images')}}/Bid_on_Opportunities.png" width="100" height="70">
            <br/><br/>
            <div style=" padding-top: 7px; width: 100%; height: 100%; color: black; font-size: 28px; font-family: Times New Roman; font-weight: 700; word-wrap: break-word">&nbsp &nbsp Bid on Opportunities</div>
        </div>
        <div class="box">
            <img src="{{=URL('static', 'images')}}/Employee_Profile_Uploads.png" width="100" height="70">
            <br/><br/>
            <div style=" padding-top: 7px; width: 100%; height: 100%; color: black; font-size: 28px; font-family: Times New Roman; font-weight: 700; word-wrap: break-word">&nbsp &nbsp Employee Profile Uploads</div>
        </div>
        <div class="box">
            <img src="{{=URL('static', 'images')}}/Seamless_Contract_Acceptance.png" width="100" height="70">
            <br/><br/>
            <div style=" padding-top: 7px; width: 100%; height: 100%; color: black; font-size: 28px; font-family: Times New Roman; font-weight: 700; word-wrap: break-word">&nbsp &nbsp Seamless Contract Acceptance</div>
        </div>
    </div>


    </div>

</div>