{{extend 'basic_layout.html'}}
 
<style>
body{
    background-color:#01111E;
}
</style>
 
 
 
 
<div style="position: absolute; left: 83px; right: 77px; bottom: 492px; top: 85px; background: #CED9E2; padding: 85px 98px;">
    <div style="position: absolute; left: 10px; top: 10px; color: #01111E; font-size: 18px; font-family: 'Sans Serif Collection', sans-serif; font-weight: 400; word-wrap: break-word;">
        Agreement Dashboard
    </div>
    <div style="display: flex; justify-content: space-around;">
        <div style="width: 140px; height: 120pxx; background-color: #ffffff; border-radius: 15px; display: flex; flex-direction: column; justify-content: flex-end; align-items: center;">
            <span style="padding-bottom: 10px;">Provider Counts</span>
        </div>
        <div style="width: 140px; height: 120px; background-color: #ffffff; border-radius: 15px; display: flex; flex-direction: column; justify-content: flex-end; align-items: center;">
            <span style="padding-bottom: 10px;">Open MA</span>
        </div>
        <div style="width: 140px; height: 120px; background-color: #ffffff; border-radius: 15px; display: flex; flex-direction: column; justify-content: flex-end; align-items: center;">
            <span style="padding-bottom: 10px;">Open Positions</span>
        </div>
        <div style="width: 140px; height: 120px; background-color: #ffffff; border-radius: 15px; display: flex; flex-direction: column; justify-content: flex-end; align-items: center;">
            <span style="padding-bottom: 10px;">Closed MA</span>
        </div>
        <div style="width: 140px; height: 120px; background-color: #ffffff; border-radius: 15px; display: flex; flex-direction: column; justify-content: flex-end; align-items: center;">
            <span style="padding-bottom: 10px;">Closed Positions</span>
        </div>
    </div>
</div>