{{extend 'layout.html'}}
<div class="text-center" style="background-color:#E4CCFF; height:100vh; padding: 4rem;">
    <div class="container">
    <div class="row">
        <div class="col">Total Users <div class="rounded d-flex align-items-center justify-content-center" style="background-color:white; height: 5rem;">{{=total_users}}</div></div>
        <div class="col">Providers <div class="rounded d-flex align-items-center justify-content-center" style="background-color:white; height: 5rem;">{{=providers}}</div></div>
        <div class="col">Admin <div class="rounded d-flex align-items-center justify-content-center" style="background-color:white; height: 5rem;">{{=admin}}</div></div>
        <div class="col">Roles <div class="rounded d-flex align-items-center justify-content-center" style="background-color:white; height: 5rem;">{{=roles}}</div></div>
    </div>
    <br/><br/>
    <div>
        <table style="background-color:#14AE5C;" class="table table-hover rounded" border="1">
            <thead><tr><th>SrNo</th><th>User Name</th><th>Email</th><th>Password</th><th>Date</th><th>Role</th><th>Action</th></tr></thead>
            <tbody>
            <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            </tbody>
        </table>
    </div>
        </div>
</div>