{{extend 'basic_layout.html'}}
{{include 'components/agreement_dashboard_component.html'}}
<br><br>


<div style="width: 100%; height: 100%; color: white; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">Ready to Submit Profile<br/><br/></div>



<div class="mx-auto" style="background-color:white; padding:40px;">
  <table id="userTable" class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Domain Name</th>
        <th>Role Name</th>
        <th>Experience Level</th>
        <th>Technologies Catalog</th>
        <th>Submit Profile</th>

      </tr>
    </thead>
    <tbody>
      {{for row in rows:}}
        <tr>
          <td>{{=row['Domain_Name']}}</td>
          <td>{{=row['Role_Name']}}</td>
          <td>{{=row['Experience_Level']}}</td>
          <td>{{=row['Technologies_Catalog']}}</td>
          <td>{{=row['Submit_Profile']}}</td>

        </tr>
      {{pass}}
    </tbody>
  </table>
</div>
