{{extend 'Base_FrameWork.html'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    .card-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap; /* Set to nowrap to ensure cards stay in a single line */
    overflow: auto; /* Add overflow property to handle horizontal scrolling if needed */
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    margin: 10px;
    text-align: center;
    font-family: arial;
    flex: 0 0 auto; /* Allow cards to have their natural width */
  }

    .title {
      color: grey;
      font-size: 18px;
    }

    button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }

    a {
      text-decoration: none;
      font-size: 22px;
      color: black;
    }

    button:hover,
    a:hover {
      opacity: 0.7;
    }

  </style>
 <br/>
<div style="color: white; font-size: 32px; font-family: Montserrat; font-weight: 700; text-transform: capitalize; word-wrap: break-word">&nbsp &nbsp &nbsp &nbsp Meet Our Team<br/></div>
<div style="color: white; font-size: 32px; font-family: Montserrat; font-weight: 700; text-transform: capitalize; word-wrap: break-word"> <br/></div><div class="card-container">



  <div class="card" style=" margin: 35px 20px;">
  <img src="{{=URL('static', 'images')}}/ankushpatil.jpeg" alt="Ankush" style="width:100%">
  <h2>Ankush Laxman Patil</h2>
  <p class="title">Role Name</p>
  <div style="margin: 24px 0;">
    <p>Matriculation Number: 1448072 </p>
    <a href="https://www.linkedin.com/in/ankushpatil22/"><i class="fa fa-linkedin"></i></a>
    <a href="mailto:ankush.patil@stud.fra-uas.de"><i class="fa fa-envelope"></i></a>
    <a href="https://github.com/ankush-patil22"><i class="fa fa-github"></i></a>
  </div>

</div>

<div class="card" style=" margin: 35px 20px;">
  <img src="{{=URL('static', 'images')}}/faizkhan.jpeg" alt="Faiz" style="width:100%">
  <h2>Faiz Mohammed Khan</h2>
  <p class="title">Role Name</p>
  <div style="margin: 24px 0;">
    <p>Matriculation Number: 1427310 </p>
    <a href="https://www.linkedin.com/in/faizmohammedkhan/"><i class="fa fa-linkedin"></i></a>
    <a href="mailto:faiz.khan@stud.fra-uas.de"><i class="fa fa-envelope"></i></a>
    <a href="https://github.com/faizmohammedkhan7"><i class="fa fa-github"></i></a>
  </div>
</div>

<div class="card" style=" margin: 35px 20px;">
  <img src="{{=URL('static', 'images')}}/sahith.jpg" alt="Sahith" style="width:100%">
  <h2>Sahith Kumar Singari</h2>
  <p class="title">Role Name</p>
  <div style="margin: 24px 0;">
    <p>Matriculation Number: 1446809 </p>
    <a href="https://www.linkedin.com/in/sahithkumar/"><i class="fa fa-linkedin"></i></a>
    <a href="mailto:sahith.singari@stud.fra-uas.de"><i class="fa fa-envelope"></i></a>
    <a href="https://github.com/sahithkumar1999"><i class="fa fa-github"></i></a>
  </div>
</div>

<div class="card" style=" margin: 35px 20px;">
  <img src="{{=URL('static', 'images')}}/shiva.jpg" alt="shiva" style="width:100%">
  <h2>Shiva Kumar Biru</h2>
  <p class="title">Role Name</p>
  <div style="margin: 24px 0;">
    <p>Matriculation Number: 1436929 </p>
    <a href="https://www.linkedin.com/in/shiva-kumar-biru-9aa099200/"><i class="fa fa-linkedin"></i></a>
    <a href="mailto:shiva.biru@stud.fra-uas.de"><i class="fa fa-envelope"></i></a>
    <a href="https://github.com/shiva-kumar-biru"><i class="fa fa-github"></i></a>
  </div>
</div>

<div class="card" style=" margin: 35px 20px;">
  <img src="{{=URL('static', 'images')}}/anilkumar.jpg" alt="Anil" style="width:100%">
  <h2>Anil Kumar Gadiraju</h2>
  <p class="title">Role Name</p>
  <div style="margin: 24px 0;">
    <p>Matriculation Number: 1428607 </p>
    <a href="https://www.linkedin.com/in/anil-kumar-gadiraju-8bb484154/"><i class="fa fa-linkedin"></i></a>
    <a href="mailto:anil.gadiraju@stud.fra-uas.de"><i class="fa fa-envelope"></i></a>
    <a href="https://github.com/anilkumargadirajuFraUas"><i class="fa fa-github"></i></a>
  </div>
</div>


</div>
