{{extend 'basic_layout.html'}}
{{include 'components/user_dashboard_component.html'}}
<div class="container">

 <!--Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{=form}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
<br/>
<!--
<div class="mx-auto" style="background-color:white; width:90%; padding:40px;">

</div>
-->
<div class="mx-auto" style="background-color:white; padding:40px;">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Add User
</button>
  <table id="userTable" class="table table-striped table-hover">
    <thead>
    <tr><th>UserId</th><th>Username</th><th>First Name</th><th>Last Name</th><th>Email</th><th>Role</th><th>MA ID</th><th>Registration Date</th><th>Last Login</th><th>Action</th></tr>
    </thead>
    <tbody>
    {{for r in user_rows:}}
    <tr><td>{{=r.id}}</td><td>{{=r.Username}}</td><td>{{=r.first_name}}</td><td>{{=r.last_name}}</td><td>{{=r.Email}}</td>
    <td>{{=r.Role}}</td><td>{{=r.provider}}</td><td>{{=r.RegistrationDate}}</td><td>{{=r.LastLoginDate}}</td><td><a href="{{=URL('edit_user', vars=dict(userid=r.id))}}">Edit</a> | <a onclick="return confirm('Are you sure you want to delete {{=r.Username}}')" href="{{=URL('delete_user', vars=dict(userid=r.id))}}">Delete</a></td></tr>
    {{pass}}
    </tbody>
  </table>
</div>

<!-- Your HTML content -->

<script>
    // Check if the 'userid' parameter is present in the URL
    var urlParams = new URLSearchParams(window.location.search);
    var userIdParam = urlParams.get('userid');
  console.log(userIdParam);
    // Show the modal if the 'userid' parameter is present
    if (userIdParam !== null) {
        // Trigger the modal by its ID using Bootstrap's modal methods
        $('#exampleModalCenter').modal('show');
    }

  $(document).ready(function() {
  $('#userTable').DataTable();
});
</script>

