{{extend 'Base_FrameWork.html'}}
<style>
    body {
        background-image: url("{{=URL('static', 'images')}}/Home_Page.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        height: 100vh;
    }

    .overlay-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 24px;
        font-family: Arial, sans-serif;
        font-weight: bold;
        text-align: center;
    }

    .centered-text {
        position: absolute;
        bottom: 4%;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 20px;
        font-family: Montserrat;
        text-align: center;
        font-weight: 400;
        word-wrap: break-word;

    }

    .button-link {
        color: white;
        font-size: 20px;
        font-family: Montserrat;
        font-weight: 400;
        text-decoration: none;
        word-wrap: break-word;
        display: inline-block;
        padding: 5px 15px; /* Adjust the padding as needed */
        border-radius: 5px; /* Optional: Add rounded corners */
        transition: background-color 0.3s; /* Optional: Add a smooth transition */
    }
</style>

<div class="overlay-text">
    <div style="color: white; font-size: 64px; font-family: Montserrat; font-weight: 700; text-transform: capitalize; word-wrap: break-word">Welcome! </div>
    <div style="color: white; font-size: 24px; font-family: Montserrat; font-weight: 700; word-wrap: break-word; padding-bottom: 90px;">This is Access Provider Platform. </div>
</div>

<div class="centered-text">
    Already part of the team?
    <a href="#" class="button-link">Login</a>
</div>
