<div class="mx-auto" style="background: #CED9E2; padding: 20px;">
    <div style="color: #01111E; font-size: 18px; font-family: 'Sans Serif Collection', sans-serif; font-weight: 400; word-wrap: break-word;">
        Master Agreement Dashboard
    </div>
    <div style="display: flex; justify-content: space-around;">
        <div style="width: 140px; height: 120px; background-color: #ffffff; border-radius: 15px; display: flex; flex-direction: column; justify-content: flex-end; align-items: center;">
            <h1 style="color:green;">{{=ma_count}}</h1>
            <span style="padding-bottom: 10px;">Master Agreements</span>
        </div>
        <div style="width: 140px; height: 120px; background-color: #ffffff; border-radius: 15px; display: flex; flex-direction: column; justify-content: flex-end; align-items: center;">
            <h1 style="color:green;">{{=submitted_offers}}</h1>
            <span style="padding-bottom: 10px;">Submitted offers</span>
        </div>
        <div style="width: 140px; height: 120px; background-color: #ffffff; border-radius: 15px; display: flex; flex-direction: column; justify-content: flex-end; align-items: center;">
            <h1 style="color:green;">{{=accepted_offers}}</h1>
            <span style="padding-bottom: 10px;">Accepted Offers</span>
        </div>
         <div style="width: 140px; height: 120px; background-color: #ffffff; border-radius: 15px; display: flex; flex-direction: column; justify-content: flex-end; align-items: center;">
            <h1 style="color:green;">{{=rejected_offers}}</h1>
            <span style="padding-bottom: 10px;">Rejected Offers</span>
        </div>
    </div>
</div>