<div style="width: 300px; height: 200px; background: #D9D9D9; box-shadow: 0px 5px 20px 10px rgba(250.75, 252.45, 255, 0.25); border-radius: 10px; display: flex; flex-direction: column; justify-content: space-between; padding: 10px;">

  <div style="height: 20%; border-radius: 5px; display: flex; align-items: center;">
    <div style="height: 20%;  border-radius: 5px;">
      <div style="width: 100%; height: 100%; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">{{=key}}</div>
    </div>

  </div>


  <div style="height: 20%; border-radius: 5px; display: flex; align-items: center;">
    <div style="width: 10px; border-radius: 5px;">
      <div style="width: 10px; height: 10px; background: #7DE713; border-radius: 9999px;"></div>
    </div>
    <div style="display: flex; align-items: center; margin-left: 10px; border-radius: 5px;">
      <div style="color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word;">Starts on: {{=value.validFrom}}</div>
    </div>
  </div>


  <div style="height: 20%; border-radius: 5px; display: flex; align-items: center;">
    <div style="width: 10px; border-radius: 5px;">
      <div style="width: 10px; height: 10px; background: #E73913; border-radius: 9999px;"></div>
    </div>
    <div style="display: flex; align-items: center; margin-left: 10px; border-radius: 5px;">
      <div style="color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word;">Expiring on: {{=value.validUntil}}</div>
    </div>
  </div>
  <div style="height: 20%; border-radius: 5px; display: flex; align-items: center;">
    <div style="width: 10px; border-radius: 5px;">
      <div style="width: 10px; height: 10px; background: black; border-radius: 9999px;"></div>
    </div>
    <div style="display: flex; align-items: center; margin-left: 10px; border-radius: 5px;">
      <div style="color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word;">Status: {{if helper.check_ma_status(provider, key):}} Submitted {{else:}}Open {{pass}}</div>
    </div>
  </div>
  

  <a href="{{=URL('master_agreement', vars=dict(ma_key=key))}}" style="height: 20%; border-radius: 5px; display: flex; align-items: center; background: #52DEBD; border: none; cursor: pointer; outline: none;">
    <div class="text-center" style="width: 90%; height: 100%; border-radius: 5px;">
        <div style="color: black; font-size: 20px; font-family: Inter; font-weight: 600; word-wrap: break-word;">Click to Process &#8594;</div>
    </div>
</a>

</div>
