<div style="width: 300px; height: 200px; background: #D9D9D9; box-shadow: 0px 5px 20px 10px rgba(250.75, 252.45, 255, 0.25); border-radius: 10px; display: flex; flex-direction: column; justify-content: space-between; padding: 10px;">

  <div style="height: 20%; border-radius: 5px; display: flex; align-items: center;">
    <div style="height: 20%;  border-radius: 5px;">
      <div style="width: 100%; height: 100%; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">{{=ma.Name}}</div>
    </div>

  </div>



  
  <div style="height: 20%; border-radius: 5px; display: flex; align-items: center;">
    <div style="height: 20%;  border-radius: 5px;">
      <div style="width: 100%; height: 100%; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Short Description :</div>
    </div>

  </div>





  <div style="height: 20%; border-radius: 5px; display: flex; align-items: center;">
    <div style="width: 10px; border-radius: 5px;">
      <div style="width: 10px; height: 10px; background: #7DE713; border-radius: 9999px;"></div>
    </div>
    <div style="display: flex; align-items: center; margin-left: 10px; border-radius: 5px;">
      <div style="color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word;">Starts on: {{=ma.ValidFrom}}</div>
    </div>
  </div>


  <div style="height: 20%; border-radius: 5px; display: flex; align-items: center;">
    <div style="width: 10px; border-radius: 5px;">
      <div style="width: 10px; height: 10px; background: #E73913; border-radius: 9999px;"></div>
    </div>
    <div style="display: flex; align-items: center; margin-left: 10px; border-radius: 5px;">
      <div style="color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word;">Expiring on: {{=ma.ValidUntil}}</div>
    </div>
  </div>
  
  
  <button onclick="window.location.href='your_target_page.html'" style="height: 20%; border-radius: 5px; display: flex; align-items: center; background: #52DEBD; border: none; cursor: pointer; outline: none;">
    <div style="width: 90%; height: 100%; border-radius: 5px;">
        <div style="color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word; padding-top: 7px; padding-left: 5px;">Click to Process</div>
    </div>
    <div style="width: 10%; height: 100%; border-radius: 5px; display: flex; flex-direction: column; align-items: center; justify-content: flex-end;">
        <p style="width: 10px; height: 1px; font-size: 40px; font-weight: bold; margin: 15; padding-bottom: 30px; padding-right: 45px;">&#8594;</p>
    </div>
</button>

</div>
