<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
  <head>
      <style>
          .btn-like-link {
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Add border-radius for rounded corners */
    transition: background-color 0.3s; /* Add a transition effect for smoother hover */
}
 
           .btn-like-link1 {
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    font-family: Montserrat;
    font-weight: 700;
    display: inline-block;
    border-radius: 5px; /* Add border-radius for rounded corners */
    transition: background-color 0.3s; /* Add a transition effect for smoother hover */
}
 
.btn-like-link:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Change background color on hover */
}
      </style>
    <meta charset="utf-8">
    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!-- Always force latest IE rendering engine
         (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <!--  Mobile Viewport Fix
          j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
          device-width: Occupy full width of the screen in its current orientation
          initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
          user-scalable = yes allows the user to zoom in -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{=response.title or request.application}}</title>
    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="{{=request.application}}">
    <!-- Speaking of Google, don't forget to set your site up:
         http://google.com/webmasters -->
    <meta name="google-site-verification" content="">
    <!-- include stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap4.css')}}"/>
    <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">
    <!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
    <!-- Favicons -->
    {{include 'web2py_ajax.html'}} <!-- this includes jquery.js, calendar.js/.css and web2py.js -->
    {{block head}}{{end}}
  </head>
  <body style="background-color:#01111E;">
 
    <div class="w2p_flash alert alert-dismissable">{{=response.flash or ''}}</div>
    <!-- Navbar ======================================= -->
    <!-- Navbar ======================================= -->
<nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
 
    <div class="navbar-collapse collapse w-100" id="navbarNavDropdown">
        <div class="d-flex justify-content-start align-items-center w-100">
            <div style="width: 100%; height: 100%; justify-content: flex-start; align-items: flex-start; gap: 221px; display: inline-flex">
    <div style="color: #F1EFEF; font-size: 30px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">Access Provider Platform</div>
 
</div>
 
 
     <div class="navbar-collapse collapse w-100 d-flex justify-content-center" id="navbarNavDropdown1">
 
    <div style="justify-content: flex; align-items: flex-start; display: flex">
        <a href="{{=URL('default', 'user_dashboard')}}" class="btn-like-link" style="color: white; font-size: 18px; font-family: Montserrat; font-weight: 700; text-decoration: none;">User Management</a>
        <a href="{{=URL('default', 'ma_details')}}" class="btn-like-link" style="color: white; font-size: 18px; font-family: Montserrat; font-weight: 700; text-decoration: none;">MA Details</a>
        <a href="{{=URL('default', 'domains')}}" class="btn-like-link" style="color: white; font-size: 18px; font-family: Montserrat; font-weight: 700; text-decoration: none;">Domain</a>
        <a href="{{=URL('default', 'Roles')}}" class="btn-like-link" style="color: white; font-size: 18px; font-family: Montserrat; font-weight: 700; text-decoration: none;">Roles</a>
    </div>
</div>
   <div class="navbar-collapse collapse w-100 d-flex justify-content-end" id="navbarNavDropdown2">
 
    <div style="justify-content: flex-end; align-items: center; gap: 42px; display: flex; margin-right: 20px;">
    <a class="btn-like-link1" style="color: #EEBC9A; font-size: 18px; font-family: Montserrat; font-weight: 700; text-decoration: none;">
    {{if session.username:}}
        {{=session.username}}
        {{pass}}
</a>
    <a onclick="return confirm('Are you sure you want to logout ?')" href="{{=URL('default', 'logout')}}" class="btn-like-link1" style="color: #8a0707; font-size: 18px; font-family: Montserrat; font-weight: 700; text-decoration: underline; word-wrap: break-word;">
    Logout
</a>
</div>
        </div>
    </div>
</nav>
 
    <!-- Masthead ===================================== -->
    {{block header}}
    {{end}}
    <!-- Main ========================================= -->
    <!-- Begin page content -->
    <div>
      {{include}}
      {{=response.toolbar() if response.show_toolbar else ''}}
    </div>
 
    <!-- The javascript =============================== -->
    <script src="{{=URL('static','js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{=URL('static','js/web2py-bootstrap4.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    {{block page_js}}{{end page_js}}
  </body>
</html>